# Business Problem Context

The company Fome Zero is a restaurant marketplace. In other words, your core
business is to facilitate the meeting and negotiations of customers and restaurants. You
restaurants register on the Fome Zero platform, which provides
information such as address, type of cuisine served, whether you have reservations, whether
deliveries and also an evaluation note of the restaurant's services and products,
among other information.

## The challenge
CEO Guerra was also recently hired and needs to better understand the business
to be able to make the best strategic decisions and further leverage the
Fome Zero, and for this, he needs an analysis of the data from the
company and that dashboards are generated, based on these analyses, to answer various questions.

# Imports

In [94]:
# Importação de Pacotes
import pandas as pd
import inflection
import numpy as np

# Helper Variables

In [95]:
COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}

COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}

# Helper Functions

In [96]:
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

def country_name(country_id):
    return COUNTRIES[country_id]

def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"
    
def color_name(color_code):
    return COLORS[color_code]

def show_dataframe_dimensions(dataframe):
    print(f"Number of Rows: {dataframe.shape[0]}")
    print(f"Number of Columns: {dataframe.shape[1]}")
    
    return None

def get_first_order_statistics(dataframe):
    # Central Tendency Metrics
    mean = pd.DataFrame(dataframe.apply(np.mean)).T
    median = pd.DataFrame(dataframe.apply(np.median)).T

    # Dispersion Metrics
    min_ = pd.DataFrame(dataframe.apply(min)).T
    max_ = pd.DataFrame(dataframe.apply(max)).T
    range_ = pd.DataFrame(dataframe.apply(lambda x: x.max() - x.min())).T
    std = pd.DataFrame(dataframe.apply(np.std)).T
    skew = pd.DataFrame(dataframe.apply(lambda x: x.skew())).T
    kurtosis = pd.DataFrame(dataframe.apply(lambda x: x.kurtosis())).T

    # Metrics Concatenation
    m = pd.concat([min_, max_, range_, mean, median, std, skew, kurtosis]).T.reset_index()
    m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
    
    return m

# Load Data

In [97]:
df = pd.read_csv('data/raw/zomato.csv')

# 1.0. DATA DESCRIPTION

In [98]:
df1 = df.copy()

# Imprimir as dimensões dos dados
show_dataframe_dimensions(df1)

# Show the first 5 records
df1.head()

Number of Rows: 7527
Number of Columns: 21

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

## 1.1. Columns Description

| Column                   | Description                                                                                     |
|:-------------------------|:------------------------------------------------------------------------------------------------|
| Restaurant ID            | ID do restaurante                                                                               |
| Restaurant Name          | Nome do Restaurante                                                                             |
| Country Code             | Código do País                                                                                  |
| City                     | Nome da Cidade onde o restaurante está                                                          |
| Address                  | Endereço do restaurante                                                                         |
| Locality                 | Localização e pontos de referência do restaurante                                               |
| Locality Verbose         | Localização e pontos de referência do restaurante (Mais informações)                            |
| Longitude                | Ponto geográfico de Longitude do Restaurante                                                    |
| Latitude                 | Ponto geográfico de Latitude do Restaurante                                                     |
| Cuisines                 | Tipos de Culinária servidos no restaurante                                                      |
| Average Cost for two     | Preço Médio de um prato para duas pessoas no restaurante                                        |
| Currency                 | Moeda do país                                                                                   |
| Has Table booking        | Se o restaurante possui serviços de reserva; 1 - Sim; 0 - Não                                   |
| Has Online delivery      | Se o restaurante possui serviços de pedido on-line; 1 - Sim; 0 - Não                            |
| Is delivering now        | Se o restaurante faz entregas; 1 - Sim; 0 - Não                                                 |
| Switch to order menu     | -                                                                                               |
| Price range              | Variação de preços do restaurante; 1 a 4 - Quanto maior o valor, mais caro serão os pratos       |
| Aggregate rating         | Nota média do restaurante                                                                       |
| Rating color             | Código Hexadecimal da cor do restaurante com base em sua nota média                             |
| Rating text              | Categoria em que o restaurante está com base em sua nota média                                  |
| Votes                    | Quantidade de avaliações que o restaurante já recebeu                                           |

## 1.2 Rename Columns

In [99]:
df1 = rename_columns(df1)

In [100]:
print(df1.columns)

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes'],
      dtype='object')

## 1.3. Check Data Types

In [101]:
df1.dtypes

restaurant_id             int64
restaurant_name          object
country_code              int64
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
switch_to_order_menu      int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
dtype: object

## 1.4. Check NA

In [102]:
df1.isna().sum()

restaurant_id            0
restaurant_name          0
country_code             0
city                     0
address                  0
locality                 0
locality_verbose         0
longitude                0
latitude                 0
cuisines                15
average_cost_for_two     0
currency                 0
has_table_booking        0
has_online_delivery      0
is_delivering_now        0
switch_to_order_menu     0
price_range              0
aggregate_rating         0
rating_color             0
rating_text              0
votes                    0
dtype: int64

## 1.5. Checks the number of unique values

In [103]:
df1.nunique()

restaurant_id           6942
restaurant_name         5914
country_code              15
city                     125
address                 6760
locality                2272
locality_verbose        2357
longitude               6846
latitude                6833
cuisines                2832
average_cost_for_two     156
currency                  12
has_table_booking          2
has_online_delivery        2
is_delivering_now          2
switch_to_order_menu       1
price_range                4
aggregate_rating          30
rating_color               7
rating_text               28
votes                   1739
dtype: int64

## 1.6. Descriptive Statistics

In [104]:
num_attributes = df1.select_dtypes(include=['int64', 'float64'])

### 1.6.1. Numerical Data

In [105]:
get_first_order_statistics(num_attributes)

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,restaurant_id,549.000000,1.904028e+07,1.903973e+07,1.055689e+07,7.701457e+06,7.074671e+06,-0.087788,-1.726571
1,country_code,1.000000,2.160000e+02,2.150000e+02,9.306536e+01,3.000000e+01,9.902465e+01,0.258687,-1.849127
2,longitude,-122.700455,1.753106e+02,2.980110e+02,3.376409e+01,7.378512e+01,7.739010e+01,-0.680775,-0.596714
3,latitude,-41.330428,5.597698e+01,9.730741e+01,1.933279e+01,2.524695e+01,2.325443e+01,-1.082988,0.617026
4,average_cost_for_two,0.000000,2.500002e+07,2.500002e+07,7.152113e+03,2.900000e+02,2.905875e+05,84.578959,7271.931662
5,has_table_booking,0.000000,1.000000e+00,1.000000e+00,6.217617e-02,0.000000e+00,2.414752e-01,3.626965,11.157839
6,has_online_delivery,0.000000,1.000000e+00,1.000000e+00,3.524645e-01,0.000000e+00,4.777377e-01,0.617766,-1.618796
7,is_delivering_now,0.000000,1.000000e+00,1.000000e+00,1.743058e-01,0.000000e+00,3.793723e-01,1.717359,0.949573
8,switch_to_order_menu,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
9,price_range,1.000000,4.000000e+00,3.000000e+00,2.624552e+00,3.000000e+00,9.597301e-01,-0.040693,-0.983179
10,aggregate_rating,0.000000,4.900000e+00,4.900000e+00,4.118055e+00,4.200000e+00,6.801457e-01,-3.888787,20.607593
11,votes,0.000000,4.133300e+04,4.133300e+04,6.164015e+02,3.350000e+02,1.127623e+03,10.668222,260.759775

# 2.0 Data Preprocessing

In [106]:
df2 = df1.copy()

# 2.1. Remove Duplicate data

In [107]:
# If there is duplicate data with same id, it will be removed 
df2 = df2.drop_duplicates(subset=['restaurant_id'])

## 2.2. Remove NA

In [108]:
df2 = df2.dropna()

# Imprimir as dimensões dos dados
show_dataframe_dimensions(df2)

Number of Rows: 6929
Number of Columns: 21

## 2.3. Change Data Types

In [109]:
# Converter as colunas para booleanas
df2['has_table_booking'] = df2['has_table_booking'].astype(bool)
df2['has_online_delivery'] = df2['has_online_delivery'].astype(bool)
df2['is_delivering_now'] = df2['is_delivering_now'].astype(bool)

# 2.4. Create New Features

In [110]:
# Cria a nova coluna 'country' aplicando a função 'country_name' à coluna 'country_code'
df2['country'] = df2['country_code'].apply(country_name)

df2['price_type'] = df2['price_range'].apply(create_price_tye)

df2['color_name'] = df2['rating_color'].apply(color_name)

df2["cuisines_"] = df2.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])

In [111]:
df2.to_csv("data/processed/data.csv", index=False)

# 3.0. Answering Questions

In [112]:
df3 = pd.read_csv("data/processed/data.csv")

In [113]:
df3.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes,country,price_type,color_name,cuisines_
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,3,4.6,3F7E00,Excellent,619,Philippines,expensive,darkgreen,Italian
1,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,0,4,4.7,3F7E00,Excellent,469,Philippines,gourmet,darkgreen,European
2,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,0,3,4.4,5BA829,Very Good,867,Philippines,expensive,green,Filipino
3,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,0,3,4.4,5BA829,Very Good,858,Philippines,expensive,green,American
4,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.020380,14.552351,Filipino,...,0,3,4.7,3F7E00,Excellent,930,Philippines,expensive,darkgreen,Filipino

## General

### 1. How many unique restaurants are registered?

In [114]:
df3.restaurant_id.nunique()

6929

### 2. How many unique countries are registered?

In [115]:
df3['country'].nunique()

15

### 3. How many unique cities are registered?

In [116]:
df3['city'].nunique()

125

### 4. What is the total number of assessments carried out?

In [117]:
df3['votes'].sum()

4194533

### 5. What are the total types of cuisine registered?

In [118]:
df3['cuisines_'].nunique()

165

## Country

### 1. What is the name of the country that has the most registered cities?

In [119]:
(df3[['country', 'city']].groupby('country')
                         .count()
                         .sort_values(by='city', ascending=False)
                         .reset_index().loc[0, 'country'])

'India'

### 2. What is the name of the country that has the most registered restaurants?

In [120]:
(df3[['country', 'restaurant_id']].groupby('country')
                         .count()
                         .sort_values(by='restaurant_id', ascending=False)
                         .reset_index().loc[0, 'country'])

'India'

### 3. What is the name of the country that has the most restaurants with an average rating equal to or greater than 4 registered?

In [121]:
# What is the name of the country that has the most restaurants with an average rating equal to or greater than 4 registered?

(df3.loc[df3['aggregate_rating'] >= 4.0,].groupby('country')['restaurant_id']
                                         .count()
                                         .sort_values(ascending=False)
                                         .reset_index().iloc[0,0])

'India'

### 4. What is the name of the country that has the most types of cuisine different?

In [122]:
df3.groupby('country')['cuisines_'].nunique().idxmax()

'India'

### 5. What is the name of the country that has the largest number of evaluations carried out?

In [123]:
df3.groupby('country')['votes'].sum().idxmax()

'India'

### 6. What is the name of the country that has the largest number of restaurants that make delivery?

In [124]:
df3.groupby('country')['is_delivering_now'].sum().idxmax()

'India'

### 7. What is the name of the country that has the largest number of restaurants that accept reservations?

In [125]:
df3.groupby('country')['has_table_booking'].sum().idxmax()

'India'

### 8. What is the name of the country that has, on average, the highest number of reviews registered?

In [126]:
df3.groupby('country')['votes'].mean().idxmax()

'Indonesia'

### 9. What is the name of the country that has, on average, the highest recorded average score?

In [127]:
df3.groupby('country')['aggregate_rating'].mean().idxmax()

'Indonesia'

### 10. What is the name of the country that has, on average, the lowest average score recorded?

In [128]:
df3.groupby('country')['aggregate_rating'].mean().idxmin()

'Brazil'

### 11. What is the average price of a dish for two per country?

In [129]:
(df3.groupby('country')['average_cost_for_two'].mean()
                                               .sort_values(ascending=False)
                                               .reset_index(name='avg_price_dish_for_2'))

                     country  avg_price_dish_for_2
0                  Indonesia         303000.000000
1                  Australia         138959.783333
2                  Sri Lanka           2579.375000
3                Philippines           1227.825000
4                      India            704.400514
5               South Africa            339.228324
6                      Qatar            174.000000
7       United Arab Emirates            153.716667
8                  Singapure            141.437500
9                     Brazil            138.812500
10                    Turkey            128.584906
11                New Zeland             62.154812
12  United States of America             55.029840
13                   England             43.510000
14                    Canada             41.861111

## City

### 1. What is the name of the city that has the most registered restaurants?

In [134]:
df3.groupby('city')['restaurant_id'].nunique().idxmax()

'Abu Dhabi'

### 2. What is the name of the city that has the most restaurants with an average rating above 4?

In [136]:
df3[df3['aggregate_rating'] >= 4].groupby('city')['restaurant_id'].nunique().idxmax()

'London'

### 3. What is the name of the city that has the most restaurants with an average rating below 2.5?

In [137]:
df3[df3['aggregate_rating'] <= 2.5].groupby('city')['restaurant_id'].nunique().idxmax()

'Gangtok'

### 4. What is the name of the city that has the highest average price for a dish for two?

In [140]:
df3.groupby('city')['average_cost_for_two'].mean().idxmax()

'Adelaide'

### 5. What is the name of the city that has the largest number of different types of cuisine?

In [142]:
df3.groupby('city')['cuisines_'].nunique().idxmax()

'Birmingham'

### 6. What is the name of the city that has the largest number of restaurants that take reservations?

In [143]:
df3.groupby('city')['has_table_booking'].sum().idxmax()

'Bangalore'

### 7. What is the name of the city that has the largest number of restaurants that deliver?

In [168]:
# Filter the restaurants that are delivering now
delivering_now = df3[df3['is_delivering_now']]

# Count the number of restaurants delivering now per city
city_delivery_counts = delivering_now.groupby('city')['restaurant_id'].count()

# Find the maximum count value
max_count = city_delivery_counts.max()

# Filter the cities that have the maximum count value
cities_with_max_delivery = city_delivery_counts[city_delivery_counts == max_count].index.tolist()

print(cities_with_max_delivery)

['Amritsar', 'Vadodara']

### 8. What is the name of the city that has the largest number of restaurants that accept online orders?

In [173]:
df3[df3['has_online_delivery']].groupby('city')['restaurant_id'].count().idxmax()

'Bhopal'

## Restaurants

### 1. What is the name of the restaurant that has the most reviews?

In [182]:
df3.loc[df3['votes'].idxmax(), 'restaurant_name']

'Bawarchi'

### 2. What is the name of the restaurant with the highest average rating?

In [209]:
df3.sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0,1]

'Indian Grill Room'

### 3. What is the name of the restaurant that has the highest value for one dish for two people?

In [210]:
df3.sort_values(['average_cost_for_two', 'restaurant_id'], ascending=[False, True]).iloc[0,1]

"d'Arry's Verandah Restaurant"

### 4. What is the name of the restaurant with the type of Brazilian cuisine that has the lowest average rating?

In [223]:
(df3[df3['cuisines_'] == 'Brazilian']
 .sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0,1])

'Loca Como tu Madre'

### 5. What is the name of the Brazilian cuisine restaurant, and that it is from Brazil, that Does it have the highest average rating?

In [226]:
(df3[(df3['cuisines_'] == 'Brazilian') & (df3['country'] == 'Brazil')] 
 .sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0,1])

'Braseiro da Gávea'

### 6. Are restaurants that accept online orders also, on average, the restaurants that have the most registered reviews?

In [243]:
(df3.groupby('has_online_delivery')['votes']
   .mean()
   .sort_values(ascending=False)
   .reset_index(name='avg_votes'))

   has_online_delivery   avg_votes
0                 True  838.821664
1                False  479.421018

### 7. Are the restaurants that take reservations also, on average, the restaurants that have the highest average price for a dish for two people?

In [244]:
(df3.groupby('has_table_booking')['average_cost_for_two']
    .mean()
    .sort_values(ascending=False)
    .reset_index(name='avg_average_cost_for_two'))

   has_table_booking  avg_average_cost_for_two
0               True              69998.423810
1              False               3488.596866

### 8. Do Japanese cuisine restaurants in the United States of America have a higher average serving price for two people than American steakhouses (BBQ)?

In [258]:
filtered_lines = ((df3['country'] == 'United States of America') & 
                 ((df3['cuisines_'] == 'Japanese') | (df3['cuisines_'] == 'BBQ')))

df3[filtered_lines].groupby('cuisines_')['average_cost_for_two'].mean().sort_values(ascending=False).reset_index(name='avg_average_cost_for_two')

  cuisines_  avg_average_cost_for_two
0  Japanese                 56.406250
1       BBQ                 39.642857

## Types of Cuisine

### 1. What is the name of the Italian cuisine restaurant with the highest average rating?

In [277]:
lines = (df3['cuisines_'] == 'Italian')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Darshan'

### 2. What is the name of the Italian cuisine restaurant with the lowest average rating?

In [278]:
lines = (df3['cuisines_'] == 'Italian')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Avenida Paulista'

### 3. What is the name of the restaurant with American cuisine with the highest average rating?

In [279]:
lines = (df3['cuisines_'] == 'American')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Burger & Lobster'

### 4. What is the name of the restaurant with American cuisine with the lowest average rating?

In [281]:
lines = (df3['cuisines_'] == 'American')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Alston Bar & Beef'

### 5. What is the name of the restaurant with Arabic cuisine with the highest average rating?

In [292]:
lines = (df3['cuisines_'] == 'Arabian')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Mandi@36'

### 6. What is the name of the restaurant with Arabic cuisine with the lowest average rating?

In [293]:
lines = (df3['cuisines_'] == 'Arabian')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Raful'

### 7. What is the name of the restaurant with Japanese cuisine with the highest average rating?

In [294]:
lines = (df3['cuisines_'] == 'Japanese')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Sushi Samba'

### 8. What is the name of the restaurant with Japanese cuisine with the lowest average rating?

In [296]:
lines = (df3['cuisines_'] == 'Japanese')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Banzai Sushi'

### 9. What is the name of the restaurant with homemade cuisine with the highest average rating?

In [306]:
lines = (df3['cuisines_'] == 'Home-made')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Kanaat Lokantası'

### 10. What is the name of the restaurant with homemade cuisine with the lowest average rating?

In [307]:
lines = (df3['cuisines_'] == 'Home-made')

df3[lines].sort_values(by=['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'GurMekan Restaurant'

### 11. What type of cuisine has the highest average value for a dish for two people?

In [310]:
df3.groupby('cuisines_')['average_cost_for_two'].mean().idxmax()

'Modern Australian'

### 12. What type of cuisine has the highest average score?

In [344]:
df_aux = df3.groupby('cuisines_')['aggregate_rating'].max()

highest_rating = df_aux.sort_values(ascending=False)[0]

filtered_lines = df_aux == highest_rating

df_aux[filtered_lines].reset_index(name='highest_aggregate_rating')

            cuisines_  highest_aggregate_rating
0            American                       4.9
1               Asian                       4.9
2                 BBQ                       4.9
3              Bakery                       4.9
4           Beverages                       4.9
5           Brazilian                       4.9
6           Breakfast                       4.9
7             British                       4.9
8              Burger                       4.9
9                Cafe                       4.9
10           Canadian                       4.9
11          Caribbean                       4.9
12            Chinese                       4.9
13     Coffee and Tea                       4.9
14       Contemporary                       4.9
15        Continental                       4.9
16           Desserts                       4.9
17              Döner                       4.9
18           European                       4.9
19          Fast Food                       4.9
20           Filipino                       4.9
21             French                       4.9
22         Fresh Fish                       4.9
23             Fusion                       4.9
24             German                       4.9
25              Greek                       4.9
26          Ice Cream                       4.9
27             Indian                       4.9
28      International                       4.9
29            Italian                       4.9
30           Japanese                       4.9
31             Korean                       4.9
32     Latin American                       4.9
33      Mediterranean                       4.9
34            Mexican                       4.9
35     Middle Eastern                       4.9
36  Modern Australian                       4.9
37      Modern Indian                       4.9
38       North Indian                       4.9
39             Others                       4.9
40         Patisserie                       4.9
41              Pizza                       4.9
42         Portuguese                       4.9
43              Ramen                       4.9
44           Sandwich                       4.9
45            Seafood                       4.9
46           Southern                       4.9
47            Spanish                       4.9
48         Sri Lankan                       4.9
49              Steak                       4.9
50        Street Food                       4.9
51              Sushi                       4.9
52          Taiwanese                       4.9
53              Tapas                       4.9
54            Tex-Mex                       4.9
55         Vietnamese                       4.9
56      World Cuisine                       4.9

### 13. Which type of cuisine has the most restaurants that accept online orders and deliver?

In [365]:
filteres_lines = (df3['has_online_delivery']) & (df3['is_delivering_now'])

df3[filteres_lines].groupby('cuisines_')['restaurant_id'].count().idxmax()

'North Indian'